@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app_container{
    display: flex;
}
.app_container .navbar{
    width: 250px;
    min-width: 250px;
    min-height: 100vh;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

.app_container .navbar span a{
    text-decoration: none;
    color: #000;
}
/* .app_container .navbar ul{
    gap: 16px;
} */
.app_container .navbar ul li a{
text-decoration: none;
color: #212121;
}