@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@import url('https://fonts.cdnfonts.com/css/inter');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.topContainer{
    background-color: #ed007f;
}
.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0 20px;
    
    
}
.left ul{
    display: flex;
    align-items: center;
    
}
.left ul li{
    list-style: none;
    padding: 6px 10px;
}
.left ul li a{
    text-decoration: none;
    color: white;
    font-size: x-small;
}
.right ul{
    display: flex;
    align-items: center;
}
.right ul li{
    list-style: none;
    padding: 6px 10px;
}
.right ul li a{
    text-decoration: none;
    color: white;
    font-size: x-small;
}
.nav-container{
    background-color: #000;
    color: white;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 95%;
}
nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
nav .nav-left .search{
    width: 320px;
    height: 28px;
    margin-right: 10px;
    padding: 0 8px;

}
nav .nav-left button{
    height: 28px;
    padding: 0 10px;
    margin: 0 20px 0 0;
}
.sub-nav{
    padding-right: 20px;
    font-size: small;
}