@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/inter');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.topContainer{
    
    background-color: #FA4EAB;
    position: sticky;
    top:0
    
}
.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 69%;
    padding: 0 20px;
    
    
}
.nav-top .top_search{
    display: none;
}
.nav-top button{
    display: none;
}
.left ul{
    display: flex;
    align-items: center;
    
}
.left ul li{
    list-style: none;
    padding: 6px 10px;
}
.left ul li a{
    text-decoration: none;
    color: #000;
    font-size: x-small;
}
.right ul{
    display: flex;
    align-items: center;
}
.right ul li{
    list-style: none;
    padding: 6px 10px;
}
.right ul li a{
    text-decoration: none;
    color: #000;
    font-size: x-small;
}
.first_hamburger{
    display: none;
}
.nav-container{
     background-color:  #b1eb00;
    /* background-color: #6acdee ; */
    /* background-color: #FFF2F9;  */
    /* background-color: #c02415; */
    
    color: #000;
    position: sticky;
    top:0
}
.nav-container .logo{
    text-decoration: none;
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 28px;
}
.borderline{
    border-bottom: 2px solid #323232;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 95%;
}
nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
nav .nav-left .search{
    width: 320px;
    height: 28px;
    margin-right: 10px;
    padding: 0 8px;
    border: 1px solid white;
    border-radius: 4px;

}
nav .nav-left button{
    height: 28px;
    padding: 0 10px;
    margin: 0 20px 0 0;
    background-color: #323232;
    color: white;
    border: 1px solid;
    border-color: #323232;
    border-radius: 4px;
    
}
.next_hamburger{
    display: none
}
.sub-nav{
    padding-right: 20px;
    font-size: small;
}
.sub-nav a{
   text-decoration: none;
   color: #000;
}
.nav-bottom{
    background-color:  #333333;
    padding: 10px 30px;
    position: sticky;
    top:0
}
.nav-bottom a{
    text-decoration: none;
    font-size:small;
    color: white;
    padding: 12px 8px;
    margin-right: 10px;
   
    
}
/* .nav-bottom a:nth-child(1):hover{
    background-color: #fff;
} */
.nav-bottom a:nth-child(1):hover{
    background-color: #ff432e;
    color: black;
}
.nav-bottom a:nth-child(2):hover{
    background-color: #fdef14;
    color: black;
}
.nav-bottom a:nth-child(3):hover{
    background-color: #ff85cb;
    color: black;
}
.nav-bottom a:nth-child(4):hover{
    background-color: #4aa8db;
    color: black;
}
.nav-bottom a:nth-child(5):hover{
    background-color: 	#b1eb00;
    color: black;
}
.nav-bottom a:nth-child(6):hover{
    background-color:#FF3F8E;
    color: black;
}
.nav-bottom a:nth-child(7):hover{
    background-color: #4aa8db;
    color: black;
}
.nav-bottom a:nth-child(8):hover{
    background-color: #ff85cb;
    color: black;
}
.nav-bottom a:nth-child(9):hover{
    background-color: 	#b1eb00;
    color: black;
}
.nav-bottom a:nth-child(10):hover{
    background-color: #FF3E58;
    color: black;
}
.dashboard_title h3{
    padding: 30px 30px;
    text-align: center;
}

#card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: #000;
    gap: 10px;
    font-size: small;
    /* text-align: center; */
    border-radius: 10px; 
    border: 1px solid grey;
    margin: 0 20px; 
    padding: 20px;
}

.dashboard{
    margin: 24px 68px;
}



@media screen and (max-width:912px) {
    .nav-top{
        width: 100%;
    }
    .nav-top .top_search{
        display: block;
    }
    .nav-top button{
        display: block;
    }
    .left ul{
        display: none; 
    }
    .right ul{
        display: none;
    }
    .first_hamburger {
        padding: 8px;
        display: block;
    }
    nav .nav-left .search{
       
        display: none;
    
    }
    nav .nav-left button{
        display: none;
}
.next_hamburger{
    display: block
}
.sub-nav a{
    display: none;
 }
 .sub-nav .fa-angle-down{
    display: none;
 }
 .sub-nav span{
    display: none;
 }
 .nav-bottom{
    display: none;
 }
 #card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }
}